body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calculator {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #calculator {
        width: 90%;
        max-width: 300px;
    }
    
    button {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin: 3px;
    }
}
